<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drivus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DrivUs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrivUs"
        android:usesCleartextTraffic="true">

        <activity android:name=".Inicio_Prueba"/>
        <activity android:name=".Registro_Direccion" />
        <activity android:name=".RegistroFinalUsuarioEmail" />
        <activity android:name=".Registro_Telefono" />
        <activity android:name=".Registro_Genero" />
        <activity android:name=".Registro_FechaNacimiento" />
        <activity android:name=".Registro_Nombre" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>